body {
  margin: 0;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: #333;
}

.top-pane{
  background-color: hsl(225,6%,25%);
}
.pane{
  height: 50vh;
  display: flex;
}

.editor-container{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  padding: 0.5rem;
  background-color: hsl(225,6%,25%);
}
.editor-container.collapsed{
  flex-grow: 0;
}
.editor-container.collapsed .CodeMirror-scroll{
  position: absolute;
  overflow: hidden !important;
}
.CodeMirror{
  height: 100% !important;
}
.editor-title{
  color: white;
  display: flex;
  justify-content: space-between;
  background-color: hsl(225,6%,14%);
  padding: .5rem .5rem .5rem 1rem;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.code-mirror-wrapper{
  flex-grow: 1;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  overflow: hidden;
}

button.expcoll{
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  margin-left:  0.5rem;
  cursor: pointer;
}